src\**\bin
src\**\obj
_ReSharper.*
*.user
*.suo
vsdebug
debug
test_results
TestResult.xml
deploy
src/lib/KellermanSoftware.Compare-NET-Objects.dll
src/lib/Moq.dll
src/lib/Ploeh.AutoFixture.dll
src/lib/nunit.framework.dll
nugetworking
src/packages/
src\libs\zips
refreshToken.txt
_trash
credentials.txt
Credentials_Test_Use_Only.txt
packages
supacharge
Refresh_AuthToken_Test_Use_Only.txt
thirdparty/google/old_libs/
thirdparty/google/_libs/